.App {
  text-align: center;
}

h1,
h2 {
  font-weight: bolder;
}

body {
  font-family: inherit;
}

.App-link {
  color: #61dafb;
}

#HowToDiv {
  text-align: center;
}
#HowToDiv h1,
#HowToDiv h2,
#HowToDiv p {
  margin-block-start: 0px;
  margin-inline-start: 0px;
}

#HowToDiv ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

#builtByDiv {
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid black;
}
#StartLobby {
  width: 80%;
  margin: 0 auto;
}

#checkOutThis {
  text-align: center;
  color: lightblue;
}

#builtByHeader {
  text-align: center;
  color: #555;
}

#gameTitleHeader {
  text-align: center;
  border-bottom: 2px solid black;
  width: 80%;
  margin: 0 auto;
}

#starterButtonsDiv {
  margin-top: 3%;
  padding-bottom: 3%;

  margin: 0 auto;
  width: 80%;
}

#submitYourOwn {
  margin-left: 2%;
  text-align: center;
}
#submitYourOwn a {
  background-color: rgb(218, 218, 218);
  text-decoration: none;
  padding: 1%;
  border-radius: 0.25rem;
  color: black;
}
#submitYourOwn a:hover {
  background-color: grey;
  text-decoration: none;
}

button {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.starterButtons {
  background-color: rgb(218, 218, 218);
  font-size: 24px;
  border-radius: 0.25rem;
  margin-top: 1%;
  margin-left: 2%;
  vertical-align: top;
  width: 30%;
  height: 120px;
  margin-bottom: 5%;
}

button.backButtons {
  background: lightgrey;
  font-size: 24px;
  border-radius: 0.25rem;
  margin-left: 35%;
  margin-right: 35%;
  vertical-align: top;
  width: 30%;
  height: 120px;
  margin-bottom: 5%;
}

#backButtonDiv {
  align-items: center;
  justify-content: center;
}

button.backButtons:hover {
  background: grey;
}

button.starterButtons:hover {
  background: grey;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

#gameRoomInfo {
  position: fixed;
  top: 0;
  left: 85%;
  font-size: 14px;
}

#GameControl {
  margin-left: 5%;
}

#GameControlHeader {
  text-align: center;
}

#GameControlHeader strong,
#GameLobby strong {
  color: white;
  background-color: grey;
  border-radius: 5px;
  padding: 0.5%;
}

#name {
  width: 90%;
}

input {
  margin-top: 1%;
  background: #eee;
  border: 1;
  height: 78px;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: inherit;
  font-size: 28px;
  width: 60%;
  height: 120px;
  text-align: center;
}
button.cards-dates-clicked,
button.cards-dates,
button.cards-perk,
button.cards-rf {
  font-size: 18px;
  vertical-align: top;
  background: white;
  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

button.cards-dates-clicked:hover,
button.cards-dates:hover {
  font-size: 18px;
  vertical-align: top;
  background: yellow;
  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

button.cards-perk:hover {
  font-size: 18px;
  vertical-align: top;
  background: green;
  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

button.cards-perk-clicked {
  font-size: 18px;
  vertical-align: top;
  background: green;

  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

button.cards-rf:hover {
  font-size: 18px;
  vertical-align: top;
  background: red;
  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

button.cards-rf-clicked {
  font-size: 18px;
  vertical-align: top;
  background: red;

  width: 16%;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

div.divider {
  width: 100%;
  border-bottom: 2px solid black;
}

li#playerActive {
  color: green;
}
li#playerInactive {
  color: red;
}
