.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#builtByHeader {
  text-align: center;
  color: #555;
}

#gameTitleHeader {
  text-align: center;
  border-bottom: thin solid black;
}

#starterButtonsDiv {
  margin-top: 3%;
  padding-bottom: 3%;
  border-bottom: thin solid black;
}

button.starterButtons {
  background: lightgrey;
  font-size: 24px;
  border-radius: 0.25rem;
  margin-left: 2%;
  vertical-align: top;
  width: 30%;
  height: 120px;
  margin-bottom: 5%;
}

button.backButtons {
  background: lightgrey;
  font-size: 24px;
  border-radius: 0.25rem;
  margin-left: 35%;
  margin-right: 35%;
  vertical-align: top;
  width: 30%;
  height: 120px;
}

#backButtonDiv {
  align-items: center;
  justify-content: center;
}

button.starterButtons:hover {
  background: grey;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

#gameRoomInfo {
  position: fixed;
  top: 0;
  left: 85%;
  font-size: 12px;
}

input {
  background: #eee;
  border: 1;
  height: 78px;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 28px;
  width: 60%;
  height: 120px;
}

button.cards-perk,
button.cards-rf {
  vertical-align: top;
  background: white;
  width: 20%;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}

button.cards-perk:hover {
  vertical-align: top;
  background: green;
}

button.cards-perk-clicked {
  vertical-align: top;
  background: green;
  width: 20%;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
}

button.cards-rf:hover {
  vertical-align: top;
  background: red;
}

button.cards-rf-clicked {
  vertical-align: top;
  background: red;
  width: 20%;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
}

li#playerActive {
  color: green;
}
li#playerInactive {
  color: red;
}
